.app-root {
  min-height: 100vh;
}

.full-page {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding: 3rem;
  margin-left: var(--sidebar-width);
  background: var(--bg-main);
  min-height: 100vh;
}